body {
    background-color: #E0EAE7;
    width: 1920px;
    height: 1068px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
   
}

header img {
    width: 145.12px;
    height: 137px;
    float: left;
    margin-right: 147px;
    margin-top: 10px;

}

header nav{
    margin-top: 55px;
   
}

header {
    height: 156px;
    padding-left: 276px;
    padding-right: 541px;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    background-color: #EFEBE4;
    text-align: center; 
    
}
header li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
 header a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;

}
#l{
    
    margin-left: 161px;
    margin-top: 74px;
    margin-bottom: 64px;
}
.local1 {
    
    background-color: #ffffff;
    width: 344px;
    height: 539px;

    
    box-shadow: 10px 5px 5px grey;
    margin-bottom: 71px;
}

.local1 img {
    margin-top: 51px;
    margin-left: 19px;
    width: 306px;
    height: 195px;
    margin-right: 19px;
}

.local1 > p {
    margin-left: 19px;
    margin-right: 19px;
}

.local1 > p:last-child{
    display: flex;
    justify-content: space-between;

}

.local {
    width: 1616px;
    padding-left: 166px; 
    padding-right: 138px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

#v{
    
    background-color: #E0EAE7;
    border-color: #E0EAE7;
    border-radius: 20px;
    width: 126px;
    height: 25px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}
footer {
    padding-left: 276px;
    padding-right: 541px;
    padding-top: 67px;
    padding-bottom: 51px;
    overflow: hidden;
    background-color: #EFEBE4;
    margin: 0 ;
    text-align: center; 
    height: 141px;

}

footer li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;

}
footer p {
    float: left;
}
