body {
    background-color: #ffffff;
    width: 1920px;
    height: 1068px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
   
}

header img {
    width: 145.12px;
    height: 137px;
    float: left;
    margin-right: 147px;
    margin-top: 10px;

}

header nav{
    margin-top: 55px;
   
}

header {
    height: 156px;
    padding-left: 276px;
    padding-right: 541px;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    background-color: #EFEBE4;
    text-align: center; 
    
}
header li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
 header a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;

}

.bol img{
    width: 1650px;
    height: 452px;
    margin: 0;
    margin-left: 192px;
}
h3 {
    margin-left: 192px;
}

#brr {
    background-color: #9EE785;
    height: 58px;
    width: 290px;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 1550px;
    margin-top: 20px;
}
.buttons {
    margin: 0;
    margin-bottom: 60px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}
footer {
    padding-left: 276px;
    padding-right: 541px;
    padding-top: 67px;
    padding-bottom: 51px;
    overflow: hidden;
    background-color: #EFEBE4;
    margin: 0 ;
    text-align: center; 
    height: 141px;

}

footer li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;

}
footer p {
    float: left;
}
